.fullpage {
    width: 100%;
    height: auto;
}

.fullwidth {
    width: 100%;
}

.horizontalpadding {
    padding-left: 5px;
    padding-right: 5px;
}

.verticalpadding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.smallpadding {
    padding: 5px;
}

.basicpadding {
    /* padding: 10px;
    margin: 5px; */
    margin: 10px 5px;
    padding: 10px;
}

.extrapadding {
    padding: 20px;
}

.textend {
    text-align: end;
}

.horizontalmargin {
    margin-left: 5px;
    margin-right: 5px;
}

.verticalmargin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallmargin {
    margin: 5px;
}

.basicmargin {
    margin: 10px;
}

.extramargin {
    margin: 20px;
}

.textcenter {
    text-align: center;
}

.chartminheight {
    height: 300px;
}

.chartmaxheight {
    height: 500px;
}

.successtext {
    color: rgb(39, 167, 39) !important;
}

.dangertext {
    color: rgb(167, 39, 39) !important;
}

.dangertextTbl {
    color: rgb(167, 39, 39) !important;
    font-weight: bold !important;
}

.successtextTbl {
    color: rgb(39, 167, 39) !important;
    font-weight: bold !important;
}
